// changing default colors
$dark: #222831;
$secondary: #393E46;
$info: #00ADB5;
$light: #EEEEEE;

// change font-size to be responsive
$enable-responsive-font-sizes: true;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';